*
{
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body 
{
    color: white;
    background-color: #fff;
    font-family: "Space Grotesk";
}
h1, h2
{
    font-family: "Butler";
}
h1
{
    font-size: 70px;
}
p
{
    font-size: 25px;
    font-weight: bold;
    
    
}
.container
{
    max-width: 1166px;
    margin: 0 auto;

}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index: 999;

}
header ul
{
    padding-left: 0;   
}
header ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    /*backdrop-filter: blur(2px);*/
    
}
header ul li a
{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    
}
.banner
{
    height:100vh;
    background:url(../images/banner-bg.jpg) no-repeat ;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
    

}
.banner .text
{
    text-align: center;
    padding-bottom: 100px;
    backdrop-filter: blur(2px);
}
.banner h1
{
    line-height: 80px;
    font-weight: 250;
    margin-bottom: 10px;
}
.banner p
{
    font-weight:250;
    color: rgb(199, 6, 6);
}

.btn
{
    position:relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;

}
.btn:before
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;

}
.btn:hover
{
    color: #000;

}
.btn:hover:before
{
    top: 0;
    height: 100%;
}

footer
{
    position: relative;
    padding: 50px 0;
    background-color: rgb(32, 31, 31);

}
.footer-inner
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-inner .col
{
    padding-right: 50px;
}
footer ul
{
    margin-left: 0;

}
footer ul li
{
    list-style: none;
    margin-bottom: 30px;
}
footer ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
footer:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left,transparent,#fff,transparent);
}
footer:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left,transparent,#fff,transparent);

}
.copyright
{
    padding: 25px 0;
    background-color: rgb(32, 31, 31);
    color: #fff;
    text-align: center;
}
.copyright p
{
    font-size: 14px;
}